.home-container {
  background-color: #1f201f;
}
body {
  background-color: #1f201f;
  color: white;
}

.home-container > h1 {
  color: white;
}

.addBtn {
  padding: 0.75rem;
  font-size: 1.1rem;
  border-radius: 10px;
  background-color: #0a5cd6;
  color: white;
}